<div id="menuLeft">
	<ul>
		<li><a class="link_page" href="/home"><i class="fa-solid fa-house"></i>Trang chủ</a></li>
		<li><a class="link_page" href="/inventory"><i class="fa-solid fa-warehouse"></i>Kho</a></li>
		<li><a class="link_page" href="/menu"><i class="fa-solid fa-mug-saucer"></i>Sản phẩm</a></li>
		<li><a class="link_page" href="/order"><i class="fa-solid fa-receipt"></i>Hóa đơn</a></li>
		<li><a class="link_page" href="/report"><i class="fa-solid fa-chart-simple"></i>Thống kê</a></li>
		<li><a class="link_page" href="/employee"><i class="fa-solid fa-users"></i>Nhân viên</a></li>
		<li><a class="link_page" href="/history"><i class="fa-solid fa-clock-rotate-left"></i>Lịch sử</a></li>
		<li><a class="link_page" href="/setting"><i class="fa-solid fa-gear"></i>Cài đặt</a></li>
	</ul>
</div>